<h1>All tasks</h1>
<div class="container">
  <div class="card">
    <ul class="list">
      <% @tasks.each do | task | %>
        <li>
          <%= link_to task.title, task_path(task), class: "link" %>
          <%= link_to '🗑',
              task_path(task),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "trash" %>
        </li>
      <% end %>
    </ul>
    <p><%= link_to 'Create a new task', new_task_path, class: "btn" %></p>
  </div>

</div>
